
@{
    Layout = "~/Views/Shared/_LayoutSite.cshtml";
    ViewBag.Title = "Edit";
    string aspnet = "hello<hr>";
}

<h2>Edit</h2>
<h3>Message: @ViewBag.Message</h3>

@section Footer{
    this is the <strong>footer</strong>
    }
